<html lang="en-US">

<head>

    <title>Esqueci Minha Senha - Galhardo Telecom</title>

    <meta charset="utf-8">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/apollo_logo.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- DESCRIPTION -->
    <meta name="description" content="Recuperar sua senha de cliente da Galhardo Telecom">.

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="/images/apollo_logo.png">

    <style>
        .btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
            background-color: #9309AF !important;
        }
    </style>

</head>

<body>

    <div class="container col-lg-5">

        <a href="/" style="text-decoration: none;"><h3 class="text-center fw-bold mt-5 mb-5" style="color: #9850AF">Galhardo Telecom</h3></a>

        <div class="alert alert-warning" role="alert">
            <h4 class="text-center fw-bold mb-3">Recuperar Senha</h4>
            <ul>
                <li>Se você já é cliente, a sua senha é seu primeiro nome em letra minúscula + seu CPF</li>
                <li>Exemplo: se o seu nome é Paulo e seu CPF é 42424242, sua senha é: paulo42424242</li>
                <li>Se você cancelou seu plano ou você ainda é cliente e não consegue acessar sua conta, entre em contato com o nosso suporte.</li>
            </ul>
        </div>

    </div>

</body>

</html>
