{{>partials/header}}

    <main class="container col-lg-10 mt-3">

        <div class="row">

            {{{captcha}}}

            <div class="col-lg-6 mt-3">

                <form action="/contato" method="POST" class="mt-1">

                    <input type="hidden" name="_csrf" value="{{csrfToken}}">

                    {{#flash_success}}
                        <div class="text-center alert alert-success" role="alert">
                            <b>{{flash_success}}</b>
                        </div>
                    {{/flash_success}}

                    {{#flash_warning}}
                        <div class="text-center alert alert-warning" role="alert">
                            <b>{{flash_warning}}</b>
                        </div>
                    {{/flash_warning}}

                    <div class="form-floating mb-3">
                        <input type="txt" class="mb-3 form-control" id="name" name="name" required autofocus>
                        <label for="name">Seu nome (obrigatório)</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" id="email" name="email" class="form-control">
                        <label for="email">Seu email (Opcional)</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" id="address" name="address" class="form-control">
                        <label for="address">Endereço (Se você já é cliente)</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" id="phone" name="phone" class="form-control" required>
                        <label for="phone">Seu Telefone Para Contato</label>
                    </div>

                    <select class="form-select mb-3" name="subject" required>
                        <option value="Problema Técnico Na Instalação">Problema Técnico Na Instalação</option>
                        <option value="Internet Lenta">Internet Lenta</option>
                        <option value="Dúvida Sobre O Contrato">Dúvida Sobre O Contrato</option>
                        <option value="Dúvida Sobre Os Boletos">Dúvida Sobre Os Boletos</option>
                        <option value="Outro Assunto">Outro Assunto</option>
                    </select>

                    <div class="mb-3">
                        <label for="message" class="form-label">Digite sua mensagem</label>
                        <small id="count" class="text-muted"></small>
                        <textarea id="message" maxlength="1024" class="form-control" name="message" rows="7" required></textarea>
                    </div>

                    <button type="#" class="btn btn-outline-success shadow disabled">Enviar Mensagem</button>

                </form>

            </div>

            <div class="col-lg-6">
                <img src="/images/vetorial/image_contact_2.png" class="w-100 img-fluid">
            </div>

            <div class="col-lg-6">
                <img src="/images/vetorial/image_contact_1.png" class="w-100 img-fluid">
            </div>

            <div class="col-lg-6">

                <div class="mt-1">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.0754269090894!2d-46.6538128237952!3d-23.565734361754636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c8da0aa315%3A0xd59f9431f2c9776a!2sAv.%20Paulista%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1sen!2sbr!4v1673034151128!5m2!1sen!2sbr" width="600" height="400" height="300" allowfullscreen="" loading="lazy"></iframe>
                </div>

                <br>

                <p><b><i class="bi bi-whatsapp"></i> WhatsApp:</b> <a target="_blank" href="https://api.whatsapp.com/send?phone=551838710606"> +55 (18) 3871-0606</a></p>

                <p><b><i class="bi bi-envelope"></i> Email:</b> <a href="mailto:contact@galhardoapp.com"> </b> contato@apollotelecom.com.br</a></p>

                <p><b><i class="bi bi-phone"></i> Atendimento:</b> De Segunda a Sexta: das 9h as 18h | Sábado: das 9h as 13h</p>

                <p><b><i class="bi bi-pin-map"></i> Endereço:</b> Rua Presidente Nasser, Nº 2018, Centro, Panorama - São Paulo</p>

                <p><b><i class="bi bi-map"></i> CEP:</b> 17980-000</p>

                <p><b><i class="bi bi-receipt"></i> CNPJ:</b> 37.929.857/0001-09</p>

            </div>

        </div>

    </main>

    <script src="scripts/contact.js"></script>

    <script type="module">
    const { Loader } = require('https://cdn.pika.dev/google-maps');
    const options: LoaderOptions = {version:weekly};
const loader = new Loader('AIzaSyA0uUCAiw0_aRzVuexzz2Sgl-FsVQiQVBw', options);

const google = await loader.load();
const map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8,
});
</script>



{{>partials/footer}}
