{{>partials/header}}

	<div class="container col-lg-10">

        {{#flash_success}}
            <div class="text-center alert alert-success" role="alert">
                <b>{{flash_success}}</b>
            </div>
        {{/flash_success}}

        {{#flash_warning}}
            <div class="text-center alert alert-warning" role="alert">
                <b>{{flash_warning}}</b>
            </div>
        {{/flash_warning}}


        <div class="row">

            <div class="col-lg-6">
                <img src="/images/vetorial/image_olt.png" class="w-100 img-fluid">
            </div>

            <div class="mt-5 col-lg-6">
                <h1 class="fw-bold text-center" style="color: #9309AF;">
                    Planos de Internet Fibra Óptica
                </h1>
                <ul class="mt-5">
                    <li class="fs-5 text-muted">Escolha o plano que melhor atende suas necessidades, de forma simples e rápida.</li>
                    <li class="fs-5 text-muted">Instalação Técnica e Suporte: de Segunda a Sexta-feira, das 9h as 18h</li>
                    <li class="fs-5 text-muted">Disponível em: <b>São Paulo</b></li>
                </ul>
            </div>


            <div class="col-lg-5 text-center mt-5">
                <div class="card mb-4 rounded-3 shadow text-center">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-bold text-primary"><i class="bi bi-award"></i> Plano 50 Mega</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title pricing-card-title fw-bold">R$ 69.90<small class="text-muted fw-light">/por mês</small></h3>
                        <ul class="list-unstyled mt-3 mb-4 text-start">
                            <li>✔️ Acesso banda larga</li>
                            <li>✔️ Sem custo de Instalação</li>
                            <li>✔️ Ótimo custo benefício para WhatsApp e YouTube</li>
                            <li>✔️ Roteador TPLink 3 antenas emprestado</li>
                            <li>✔️ Conexão 24 horas, não utiliza linha telefônica </li>
                            <li>✔️ Velocidade de acesso garantida</li>
                            <li>✔️ Instalação em até 2 dias úteis</li>
                        </ul>
                        <a href="#" class="fw-bold shadow w-100 btn btn-success"><i class="bi bi-whatsapp"></i> Contratar Plano Pelo WhatsApp</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-1"></div>

            <div class="col-lg-6">
                <img src="/images/vetorial/image_5.png" class="w-100 img-fluid">
            </div>




            <div class="col-lg-6">
                <img src="/images/vetorial/image_4.png" class="me-5 w-100 img-fluid">
            </div>

            <div class="col-lg-1"></div>

            <div class="col-lg-5 mt-5">
                <div class="card mb-4 rounded-3 shadow text-center">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-bold text-warning"><i class="bi bi-award"></i> Plano 80 Mega</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title pricing-card-title fw-bold">R$ 89.90<small class="text-muted fw-light">/por mês</small></h3>
                        <ul class="list-unstyled mt-3 mb-4 text-start">
                            <li>✔️ Acesso banda larga</li>
                            <li>✔️ Sem custo de Instalação</li>
                            <li>✔️ Ótimo custo benefício para Netflix, Televisão e Estudar Online</li>
                            <li>✔️ Roteador TPLink 3 antenas emprestado</li>
                            <li>✔️ Conexão 24 horas, não utiliza linha telefônica </li>
                            <li>✔️ Velocidade de acesso garantida</li>
                            <li>✔️ Instalação em até 2 dias úteis</li>
                        </ul>
                        <a href="#" class="fw-bold shadow w-100 btn btn-success"><i class="bi bi-whatsapp"></i> Contratar Plano Pelo WhatsApp</a>
                    </div>
                </div>
            </div>



                <div class="col-lg-5 mt-5">
                    <div class="card mb-4 rounded-3 shadow text-center">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-bold text-info"><i class="bi bi-award"></i> Plano 200 Mega</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title fw-bold">R$ 99.90<small class="text-muted fw-light">/por mês</small></h3>
                            <small>*Sem roteador emprestado</small><br>
                            <small>*Com roteador emprestado, é acrescentado 10 reais na mensalidade, ficando R$ 109.90 por mês.</small>
                            <ul class="list-unstyled mt-3 mb-4 text-start">
                                <li>✔️ Acesso banda larga</li>
                                <li>✔️ Sem custo de Instalação</li>
                                <li>✔️ Ideal para jogos onlines, uploads e chamadas de vídeo</li>
                                <li>✔️ Conexão 24 horas, não utiliza linha telefônica </li>
                                <li>✔️ Velocidade de acesso garantida</li>
                                <li>✔️ Instalação em até 2 dias úteis</li>
                            </ul>
                            <a href="#" class="fw-bold shadow w-100 btn btn-success"><i class="bi bi-whatsapp"></i> Contratar Plano Pelo WhatsApp</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-6">
                    <img src="/images/vetorial/image_1.png" class="w-100 img-fluid">
                </div>







                <div class="col-lg-6">
                    <img src="/images/vetorial/image_3.png" class="me-5 w-100 img-fluid">
                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-5 mt-5">
                    <div class="card mb-4 rounded-3 shadow text-center mt-3">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-bold text-danger"><i class="bi bi-award"></i> Plano 300 Mega</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title fw-bold">R$ 119.90<small class="text-muted fw-light">/por mês</small></h3>
                            <small>*Sem roteador emprestado</small><br>
                            <small>*Com roteador emprestado, é acrescentado 10 reais na mensalidade, ficando R$ 129.90 por mês.</small>
                            <ul class="list-unstyled mt-3 mb-4 text-start">
                                <li>✔️ Acesso banda larga</li>
                                <li>✔️ Sem custo de Instalação</li>
                                <li>✔️ Para quem gosta de ficar sempre conectado</li>
                                <li>✔️ Conexão 24 horas, não utiliza linha telefônica</li>
                                <li>✔️ Velocidade de acesso garantida</li>
                                <li>✔️ Instalação em até 2 dias úteis</li>
                            </ul>
                            <a href="#" class="fw-bold  shadow w-100 btn btn-success"><i class="bi bi-whatsapp"></i> Contratar Plano Pelo WhatsApp</a>
                            <!--<a href="/plano" class="shadow w-100 btn btn-danger fw-bold text-dark"><i class="bi bi-check-circle"></i> Agendar Vísita Técnica</a>-->
                        </div>
                    </div>
                </div>





                <div class="col-lg-5 mt-5">
                    <div class="card mb-4 rounded-3 shadow text-center mt-3">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-bold" style="color: #FF8C00;"><i class="bi bi-award"></i> Plano 500 Mega</h4>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title fw-bold">R$ 139.90<small class="text-muted fw-light">/por mês</small></h3>
                            <small>*Sem roteador emprestado</small><br>
                            <small>*Com roteador emprestado, é acrescentado 10 reais na mensalidade, ficando R$ 149.90 por mês.</small>
                            <ul class="list-unstyled mt-3 mb-4 text-start">
                                <li>✔️ Acesso banda larga</li>
                                <li>✔️ Sem custo de Instalação</li>
                                <li>✔️ Para compartilhar com toda a galera</li>
                                <li>✔️ Conexão 24 horas, não utiliza linha telefônica</li>
                                <li>✔️ Velocidade de acesso garantida</li>
                                <li>✔️ Instalação em até 2 dias úteis</li>
                            </ul>
                            <a href="#" class="fw-bold shadow w-100 btn btn-success"><i class="bi bi-whatsapp"></i> Contratar Plano Pelo WhatsApp</a>
                            <!--<a href="/plano" class="shadow w-100 btn btn-dark fw-bold text-dark"><i class="bi bi-check-circle"></i> Agendar Vísita Técnica</a>-->
                        </div>
                    </div>
                </div>

                <div class="col-lg-1"></div>

                <div class="col-lg-6 ">
                    <img src="/images/vetorial/image_2.png" class="w-100 img-fluid">
                </div>



            </div>

        </div>


    </div>

    <script src="scripts/games.js"></script>

    <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
    <script src="scripts/newsletter.js"></script>

{{>partials/footer}}
