
    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0 mt-5">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <p class="small text-muted">Com muita tecnologia e inovação, a Galhardo Telecom nasceu com uma proposta diferenciada para garantir a você a melhor experiência digital de todos os tempos.</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <ul class="list-unstyled text-muted">
                        <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
                        <li><a href="/termos-de-uso">Termos de Uso</a></li>
                        <li><a href="/trabalhe-conosco">Trabalhe Conosco</a></li>
                        <li><a href="#">Contrato</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <p class="small text-muted">Receba promoções e descontos no seu email!</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Digite seu email" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button disabled class="btn btn-light fw-bold text-white" id="button-addon2" type="button">Eu Quero!</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12 text-center text-muted">
                    <small>&copy; <a class="text-primary" href="https://galhardo-telecom.up.railway.app/">Galhardo Telecom</a> | CNPJ: 99.999.999/0000-00 | Rua Avenida Paulista, Nº 42, Centro, São Paulo - São Paulo | CEP 88888-888</small>
                </div>

            </div>
        </div>
    </footer>

    <div class="alert text-center cookiealert" role="alert">
        <b>Nós usamos cookies no site para melhorar nossos serviços e sua experiência no site. Leia nossos <a href="/termos-de-uso">Termos de Uso</a> e <a href="/politica-de-privacidade">Política de Privacidade</a></b>

        <button type="button" class="fw-bold btn btn-success btn-sm acceptcookies">
            Eu Concordo
        </button>
    </div>

    <script src="../scripts/cookies.js"></script>

    {{{header.scroll_bar_script}}}

</body>

</html>
